@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quordle-key {
  touch-action: manipulation;
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
}

@layer components {
  body {
    @apply bg-white dark:bg-gray-800;
  }
  .quordle-nav {
    @apply text-gray-700 hover:bg-gray-400 hover:text-black dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium ml-3;
  }
  .quordle-nav-active {
    @apply bg-gray-400 text-black hover:bg-gray-400 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white !important;
  }
  .quordle-box {
    @apply m-0.5 rounded p-0 aspect-square relative select-none;
  }
  .quordle-box-content {
    @apply absolute left-0 top-0 bottom-0 right-0 flex items-center justify-center;
  }
  .quordle-key {
    @apply ml-1 mt-1 last:mr-1 rounded-sm aspect-square relative select-none;
  }
  @media(min-width: 1024px) {
    .quordle-desktop-scrollbar::-webkit-scrollbar {
      @apply w-[2px];
    }
    .quordle-desktop-scrollbar::-webkit-scrollbar-thumb {
      @apply bg-gray-500;
    }
  }
}
